body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* main styles */

.main{
    display:flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main_content{
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px 105px 90px;
}

/* about styles */

.about{
    margin-bottom: 40px;
}

.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-top: 20px;
    
}

.about_user{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-top: 25px;
    width: 400px;
}

/* about projects */

.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000; 
    margin-bottom: 10px;
}

.project_list{
    padding: 0;
    margin-left: 15px;
}

.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link{
    margin-left: 10px
}

.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;   
}

/* work styles */

.work{
    margin-bottom: 50px;
}

.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.work_plase{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work_time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;    
}

.work_list{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    padding-left: 15px;
    margin-right: 220px;    
}

.stick{
    color: #000000;
}

/* education stles */

.university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;    
}

.university_program{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;    
}

.university_time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;    
}

.stick{
    color: #000000;
}
/* sidebar styles */

.sidebar{
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.img{
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.techskills,
.softskills{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}

.techskills{
    margin-bottom:  45px; 
}

.sidebar-title{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.contact_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
}

.skills_list{
    color: #ffffff;
    padding: 0;
    padding-left: 15px;
}

.skills_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.skills_item{
    color: #fb6d3a;
}

